/* Self-hosted Font  */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/poppins-v20-latin-200.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/poppins-v20-latin-300.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v20-latin-600.woff2') format('woff2'); 
}



:root {
  --color-black: #2e2e2e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
} 

body {
  display: grid;
  place-content: center;
  padding: 6px 5rem;
  font-size: clamp(.8rem, 3vw ,1rem);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 0 0;
}

.grid {
  --column-count: 2;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: 1.5rem;
}

.card {
  margin: 20px 0px;
}

img {
  max-width: 40rem;
  height: auto;
  border-radius: 6px;
  transition: .250s ease;
}

img:hover {
  transform: scale(1.03);
}
@media (width > 1600px) {
  img { width: 50rem; }
}
@media (width < 1300px) {
  img { width: 45vw; }
}
@media (width < 1000px) {
  .grid { --column-count: 1; }
  img { width: 90vw; }
}


ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
p {
  margin: 6px 0;
}

.my-work {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
@media (width < 700px) { .my-work { padding-bottom: .250rem; } }


@media (width < 700px) {
  header, .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-description {
    text-align: center;
  }
  h1 { font-size: 1.5rem; margin-right: -2rem; }
  h2 { font-size: 1.1rem; }
}
